<h2>Are you sure you want to remove {{item.name}}?</h2>
<form action="" method="POST">
    <label for="password">Password: </label>
    <input type="text" name="password">
    <div class="confirm-del-container">
        <button>Yes</button>
        <button type="button"><a href="/catalog/computer-accessories/">No</a></button>
    </div>
</form>