<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <ul>
            <li><a href=""></a></li>
          </ul>
        </nav>
      </header>
    {{{body}}}
    </div>
  </body>
</html>
