/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.create-form {
    display: flex;
    flex-direction: column;
    textarea {
        resize: none;
    }
}

.product-image {
    max-width: 500px;
    height: auto;
}
